In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('FoodBalance.csv' , encoding = 'latin-1')

In [3]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
Area Code       60943 non-null int64
Area            60943 non-null object
Item Code       60943 non-null int64
Item            60943 non-null object
Element Code    60943 non-null int64
Element         60943 non-null object
Unit            60943 non-null object
Y2014           59354 non-null float64
Y2015           59395 non-null float64
Y2016           59408 non-null float64
Y2017           59437 non-null float64
Y2018           59507 non-null float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [5]:
df.shape

(60943, 12)

In [6]:
df["Area"].nunique()

49

In [7]:
sorted(df.groupby('Area')['Y2017'].sum())

[0.0,
 0.0,
 59.84,
 442.3399999999999,
 12662.630000000003,
 14650.740000000002,
 19102.77,
 21267.959999999945,
 22101.299999999974,
 22729.909999999963,
 23154.179999999968,
 27979.63999999996,
 29342.200000000004,
 29874.889999999967,
 29936.999999999993,
 41181.68,
 49841.88000000002,
 51114.83,
 54343.32999999999,
 55311.33000000002,
 71594.67999999993,
 73663.68999999992,
 75919.34000000008,
 95681.14999999985,
 98138.86999999979,
 101855.06999999999,
 103223.76999999989,
 124167.20000000003,
 124771.21999999999,
 126707.57999999997,
 131197.72999999986,
 149928.32999999993,
 156665.46000000002,
 161407.97999999986,
 181098.70999999993,
 213950.3800000001,
 224599.0100000001,
 229159.57000000024,
 232030.4300000001,
 239931.91999999984,
 264660.66000000015,
 322616.85000000027,
 325644.2700000009,
 337599.06000000064,
 388495.36000000004,
 448683.76,
 517590.5400000007,
 866379.9200000003,
 1483268.2300000011]

In [8]:
#Checking number of rows and columns of the dataset.

len(df)

60943

In [9]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = ['Age','Nationality','Overall']
pd.DataFrame(lst, columns = col, index = [i for i in range(1,4)])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [10]:
S = [['him', 'sell'], [90, 28, 43]]
S[0][1][1]

'e'

In [11]:
y = [(2, 4), (7, 8), (1, 5, 9)]
y[1][1]

8

In [12]:
#Total num & % of 2014.
per = ((df['Y2014'].isnull().sum())/60943)*100
print(df['Y2014'].isnull().sum())
print(round(per,2))

1589
2.61

In [13]:
m = df.groupby(['Element'])
m.sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [14]:
# highest sum of stock Variation.

m = df.groupby(['Element'])
m.first()

,Area Code,Area,Item Code,Item,Element Code,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,,,,
Domestic supply quantity,4,Algeria,2501,Population,5301,1000 tonnes,0.00,0.00,0.00,0.00,0.00
Export Quantity,4,Algeria,2905,Cereals - Excluding Beer,5911,1000 tonnes,3.00,7.00,7.00,10.00,17.00
Fat supply quantity (g/capita/day),4,Algeria,2901,Grand Total,684,g/capita/day,80.06,79.36,77.40,80.19,77.28
Feed,4,Algeria,2905,Cereals - Excluding Beer,5521,1000 tonnes,4725.00,5070.00,4838.00,4667.00,5266.00
Food,4,Algeria,2905,Cereals - Excluding Beer,5142,1000 tonnes,8546.00,8729.00,9001.00,8941.00,9219.00
Food supply (kcal/capita/day),4,Algeria,2901,Grand Total,664,kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
Food supply quantity (kg/capita/yr),4,Algeria,2905,Cereals - Excluding Beer,645,kg,219.56,219.72,221.98,216.02,218.31
Import Quantity,4,Algeria,2905,Cereals - Excluding Beer,5611,1000 tonnes,12604.00,13983.00,13523.00,13039.00,13182.00
Losses,4,Algeria,2905,Cereals - Excluding Beer,5123,1000 tonnes,1084.00,1203.00,1148.00,1121.00,1253.00
Other uses (non-food),4,Algeria,2905,Cereals - Excluding Beer,5154,1000 tonnes,787.00,847.00,835.00,840.00,951.00
Processing,4,Algeria,2905,Cereals - Excluding Beer,5131,1000 tonnes,35.00,38.00,37.00,33.00,44.00
Production,4,Algeria,2905,Cereals - Excluding Beer,5511,1000 tonnes,3436.00,3761.00,3445.00,3478.00,6065.00
Protein supply quantity (g/capita/day),4,Algeria,2901,Grand Total,674,g/capita/day,94.90,94.35,94.72,92.82,91.83
Residuals,4,Algeria,2905,Cereals - Excluding Beer,5170,1000 tonnes,0.00,0.00,0.00,0.00,-8.00
Seed,4,Algeria,2905,Cereals - Excluding Beer,5527,1000 tonnes,177.00,189.00,197.00,202.00,278.00
Stock Variation,4,Algeria,2905,Cereals - Excluding Beer,5072,1000 tonnes,684.00,1663.00,905.00,705.00,2226.00
Total Population - Both sexes,4,Algeria,2501,Population,511,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
Tourist consumption,7,Angola,2913,Oilcrops,5171,1000 tonnes,0.00,0.00,0.00,0.00,0.00

In [15]:
# total Protein supply qunatity in Madagascar in 2015.
df['Y2015'].loc[(df['Area']=='Madagascar') & (df['Element']=='Protein supply quantity (g/capita/day)')].sum()

173.04999999999998

In [16]:
array  = np.array([[94, 89, 63],

                   [93, 92, 48],

                   [92, 94, 56]])
array[:2,1:]

array([[89, 63],
       [92, 48]])

In [17]:
#Total sum of wine produced in 2015 and 2018.
df[['Y2015','Y2018']].loc[(df['Item'] == 'Wine')].sum()

Y2015    4251.81
Y2018    4039.32
dtype: float64

In [18]:
#which year had the least correlation with Element Code. 
m = df.groupby(['Element Code'])
m.min()

,Area Code,Area,Item Code,Item,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Element Code,,,,,,,,,,,
511,4,Algeria,2501,Population,Total Population - Both sexes,1000 persons,196.0,199.0,203.0,207.0,211.0
645,4,Algeria,2511,"Alcohol, Non-Food",Food supply quantity (kg/capita/yr),kg,0.0,0.0,0.0,0.0,0.0
664,4,Algeria,2511,Alcoholic Beverages,Food supply (kcal/capita/day),kcal/capita/day,0.0,0.0,0.0,0.0,0.0
674,4,Algeria,2511,Alcoholic Beverages,Protein supply quantity (g/capita/day),g/capita/day,0.0,0.0,0.0,0.0,0.0
684,4,Algeria,2511,Alcoholic Beverages,Fat supply quantity (g/capita/day),g/capita/day,0.0,0.0,0.0,0.0,0.0
5072,4,Algeria,2511,"Alcohol, Non-Food",Stock Variation,1000 tonnes,-1796.0,-3161.0,-3225.0,-1582.0,-3396.0
5123,4,Algeria,2511,Alcoholic Beverages,Losses,1000 tonnes,0.0,0.0,0.0,0.0,0.0
5131,4,Algeria,2511,Alcoholic Beverages,Processing,1000 tonnes,0.0,0.0,0.0,0.0,0.0
5142,4,Algeria,2511,"Alcohol, Non-Food",Food,1000 tonnes,0.0,0.0,0.0,0.0,0.0
5154,4,Algeria,2511,"Alcohol, Non-Food",Other uses (non-food),1000 tonnes,0.0,0.0,0.0,0.0,0.0
5170,4,Algeria,2511,"Alcohol, Non-Food",Residuals,1000 tonnes,-849.0,-559.0,-560.0,-682.0,-598.0
5171,7,Angola,2511,Alcoholic Beverages,Tourist consumption,1000 tonnes,0.0,0.0,0.0,0.0,0.0
5301,4,Algeria,2501,"Alcohol, Non-Food",Domestic supply quantity,1000 tonnes,-133.0,-122.0,-167.0,-144.0,-184.0
5511,4,Algeria,2511,"Alcohol, Non-Food",Production,1000 tonnes,0.0,0.0,0.0,0.0,0.0
5521,4,Algeria,2511,Animal fats,Feed,1000 tonnes,0.0,0.0,0.0,0.0,0.0
5527,4,Algeria,2511,Barley and products,Seed,1000 tonnes,0.0,0.0,0.0,0.0,0.0
5611,4,Algeria,2511,"Alcohol, Non-Food",Import Quantity,1000 tonnes,0.0,0.0,0.0,0.0,0.0
5911,4,Algeria,2511,"Alcohol, Non-Food",Export Quantity,1000 tonnes,0.0,0.0,0.0,0.0,0.0

In [19]:
# Mean and standard deviation across the year 2017
df['Y2017'].describe()

count     59437.000000
mean        140.917765
std        1671.862359
min       -1582.000000
25%           0.000000
50%           0.100000
75%           9.000000
max      190873.000000
Name: Y2017, dtype: float64

In [20]:
#Type of Error
my_tuppy = (1,2,5,8)

my_tuppy[2]=6

TypeError: 'tuple' object does not support item assignment